@{
    ViewData["Title"] = "Add a Movie";
}

@model Mission06_koletonm.Models.AddMovieResponse

<h1>Add a Movie to the Joel Hilton Film Collection</h1>
<br />

<form method="post">
    <p>
        <label asp-for="Category">Category: </label>
        <input asp-for="Category" /><br />
    </p>

    <p>
        <label asp-for="Title">Title: </label>
        <input asp-for="Title" /><br />
    </p>

    <p>
        <label asp-for="Year">Year: </label>
        <input asp-for="Year" /><br />
    </p>

    <p>
        <label asp-for="Director">Director: </label>
        <input asp-for="Director" /> <br />
    </p>

    <p>
        <label asp-for="Rating">Rating: </label>
        <select asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select> <br />
    </p>

    <p>
        <label asp-for="Edited">Edited: </label>
        <select asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
    </p>

    <p>
        <label asp-for="LentTo">Lent To: </label>
        <input asp-for="LentTo" /> <br />
    </p>

    <p>
        <label asp-for="Notes">Notes: </label>
        <input asp-for="Notes" /><br />
    </p>

    <br />
    <button type="submit">Add Movie!</button>

    <br /><br />
</form>

<div style="color: red; display: initial" asp-validation-summary="All"></div>
