@{
    ViewData["Title"] = "The Joel Hilton film Collection";
}
<!--
Created by: Koleton Murray
Project 7: CRUD Movie Web App
Web app connected to sqlite database to store movies
-->

<h1>Welcome to my movie collection!</h1><br />
<img src="~/img/JoelHiltonHeadshot.jpg" />