@{
    ViewData["Title"] = "My Podcasts";
}


<a href="https://baconsale.com/" target="_blank">Baconsale</a><br />
<a href="https://baconsale.com/" target="_blank"><img src="~/img/baconsale.png" /></a>